<!DOCTYPE html>
<html>
  <head>
    <title>Contract Form</title>
  </head>
  <body>
    <h1>Contract Form</h1>
    <form method="post">
      <label for="contract_id">Contract ID:</label>
      <input
        type="number"
        id="contract_id"
        name="contract_id"
        required
      /><br /><br />

      <label for="start_date">Start Date:</label>
      <input type="date" id="start_date" name="start_date" /><br /><br />

      <label for="end_date">End Date:</label>
      <input type="date" id="end_date" name="end_date" /><br /><br />

      <label for="status">Status:</label>
      <select id="status" name="status">
        <option value="active">Active</option>
        <option value="inactive">Inactive</option></select
      ><br /><br />

      <label for="phone_number">Customer ID: (Phone Number)</label>
      <input type="number" id="phone_number" name="phone_number" /><br /><br />

      <input type="submit" value="Submit" />
    </form>
  </body>
</html>

<!-- 
    type of service
    pull fee charge/mnth
-->
<!-- Before crtng cntrct item should b prsnt in srvcitem inv -->
<!--  -->